.row{
  height: 100%;
}
.card{
  background-color: rgba(69, 69, 69, 0.3) !important;
  border-radius: 15px;
}
img{
  border-bottom: 15px;
  cursor:pointer;
}
p{
  color: azure;
}
.btn{
  border: none;
  font-weight: 500;
}

