<div class="container">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-xl-5 col-10 animate__animated animate__zoomInDown">
      <app-cards1></app-cards1>
    </div>
    <div class="col-xl-4 col-10 m-5 animate__animated animate__zoomInDown">
      <h2>Conocimientos.</h2>
      <p>Cuento con conocimientos fuertes en FrontEnd, conocimientos basicos en BackEnd y otras tecnologias que he utilizado en diferentes proyectos y trabajos.</p>
    </div>
  </div>
</div>
