.container {
  padding-top: 4rem;
}
h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
h2,
p {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
.skill {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 8px 8px 20px rgba(110, 110, 110, 0.5);
  height: 28vh;
  transition: 1s;
}
.skill:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 8px 8px 20px rgba(110, 110, 110, 0.5);
}
.hab {
  height: 100%;
}
img {
  width: 4em;
  height: 4em;
}
h2 {
  color: rgb(220, 220, 220);
}
@media(max-width:1400px) {
  .skill {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 8px 8px 20px rgba(110, 110, 110, 0.5);
    height: 35vh;
  }

  .skill:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 20px rgba(110, 110, 110, 0.5);
  }

  @media(max-width:900px) {
    h1 {
      font-size: 3em;
    }
  }
}
