<mat-sidenav-container fullscreen class="fondo">
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Portafolio Web</span>
      <!-- <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item
          (click)="sidenav.toggle()">
        <samp>Inicio</samp>
      </a>
      <a routerLink="../habilidades"
          mat-list-item>
        <samp>Habilidades</samp>
      </a>
      <a routerLink="../proyectos"
          mat-list-item>
        <samp>Proyectos</samp>
      </a>
      <a routerLink="../sobre-mi"
          mat-list-item>
        <samp>Sobre Mi</samp>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- <div class="container">
  <div class="row align-items-center">
    <div class="col-xl-7 col-sm-10 ali animate__animated animate__zoomInDown">
      <span class="title">Nicolas Vargas</span>
      <p class="subTitle">Programador de software</p>
    </div>
    <div class="col-xl-5 col-sm-10 animate__animated animate__zoomInDown text-center">
      <img src="../../../../assets/img/Imagen.jpg" alt="jpg" class="rounded-5">
    </div>
  </div>
</div> -->
