<div class="container about-me">
  <h1 class="text-light animate__animated animate__zoomInDown mt-5">Sobre Mi</h1>
  <div class="row justify-content-center align-items-center cont-aboutMe">
    <div class="col-xl-7 col-md-7 col-10 info mb-2 animate__animated animate__zoomInDown">
      <h2 class="text-center">Nicolas Vargas</h2>
      <h4 class="text-center">Programador de Software</h4>
      <p>Tecnólogo en desarrollo de Software.<br><br>
        </p>
    </div>
    <div class="col-xl-5 col-md-5 col-10 imagen text-center animate__animated animate__zoomInDown">
      <img src="../../../../assets/img/myAvatar.png" alt="png">
    </div>
  </div>
</div>
