<div class="container about-me">
  <h1 class="text-light animate__animated animate__zoomInDown mt-5">Sobre Mi</h1>
  <div class="row justify-content-center align-items-center cont-aboutMe">
    <div class="col-xl-7 col-md-7 col-10 info mb-2 animate__animated animate__zoomInDown">
      <h2 class="text-center">Nicolas Vargas</h2>
      <h4 class="text-center">Programador de Software</h4>
      <p>Tecnologo en desarrollo de Software en la ciudad de Bogotá, Co. <br><br>
        Mi enfoque por el momento se basa en el Front-End, sin embargo cuento con conocimiento en lenguajes back-end y
        experiencia como analista de bases de datos de nivel 2 en PL/SQL-ORACLE, con ganas de seguir aprendiendo hasta
        convertirme en un desarrollador Full Stak capas de resolver inconvenientes complejos a nivel de software.</p>
    </div>
    <div class="col-xl-5 col-md-5 col-10 imagen text-center animate__animated animate__zoomInDown">
      <img src="../../../../assets/myAvatar.png" alt="png">
    </div>
  </div>
</div>
