<div class="navb">
  <nav class="navbar navbar-expand-lg fixed-top opacity-75">
    <div class="container">
      <a class="navbar-brand">Navbar w/ text</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa-sharp fa-solid fa-bars fa-1x"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn ms-2" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Inicio</a>
          </li>
          <li class="nav-item">
            <a class="btn ms-2" routerLinkActive="active" routerLink="habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="btn ms-2" routerLinkActive="active" routerLink="proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="btn ms-2" routerLinkActive="active" routerLink="sobre-mi">Sobre Mi</a>
          </li>
        </ul>
        <span class="navbar-text">
          <div class="ms-3">
            <a href="https://github.com/NicolasVargas5539" target="_blank"><i class="fa-brands fa-github me-3 fa-2x red"></i></a>
            <a href="https://www.linkedin.com/in/nicolas-v1085/" target="_blank"><i class="fa-brands fa-linkedin-in me-3 fa-2x red"></i></a>
            <a href="https://www.instagram.com/nikolas_vargas/" target="_blank"><i class="fa-brands fa-instagram fa-2x red"></i></a>
          </div>
        </span>
      </div>
    </div>
  </nav>
</div>
