.navbar{
  background-color:rgba(42, 42, 42, 0.283);
  border-bottom: 1px solid rgb(171, 171, 171);
}
i, a, span{
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btn, .red{
  border: none;
  font-weight: 500;
  border-radius: 12px;
  transition: .6s !important;
}
.btn:hover, .red:hover{
  color: rgb(181, 144, 250);
}
.active{
  color: rgb(167, 112, 255);
  font-weight: 500;
}

@media(max-width:990px) {
  .navbar{
    background-color:rgba(42, 42, 42, 0.9999);
    border-bottom: 1px solid rgb(171, 171, 171);
  }
}
